.services {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: #F5B60F;
  border-radius: 21px;
  padding: 2.5rem 5rem;
}

.service-item {
  display: flex;
  align-items: center;
}

.service-image {
  width: 50px;
  margin-right: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 24px;
  color: var(--color-text);
}

.text-container h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #912C8C;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 550px) {
  .services{
    flex-direction: column;
    margin: 2rem auto;
    padding: 2rem 2rem;
  }

  .service-item{
    margin: 1rem 0;
  }

  .service-item p{
    font-size: 1rem;
  }

}