/* Normalize  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
}

.negrita {
  font-weight: 800;
}

.button-style-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
}

.button-style {
  padding: 0.5rem 1rem;
  color: var(--color-title);
  background: #f5b60f;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1rem;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Links  */
a {
  color: unset;
  text-decoration: none;
}

/* Margin and padding sections  */
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

/* Animation  */
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Mediaqueries  */
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
