@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Inter Tight", sans-serif;
  
  --color-bg: #F7F7F7;
  --color-text: #1C1C1C;
  --color-title: #912C8C;
  --color-subtitle: #ffc527;
}